# Mac meta data
.DS_Store
.idea
build
coverage.out
data_source_simulator/build
e2e_test/*.csv
e2e_test/autonity_l1_config
e2e_test/plugins
e2e_test/profiles
e2e_test/simulator
e2e_test/autonity.bak
e2e_test/autoracle
e2e_test/oracle_config/
e2e_test/autonity_l1_config/nodekeys
e2e_test/round_data_record.json
e2e_test/autonity_l1_config/genesis_gen.json
plugins/template_plugin/bin
oracle_server/round_data_record.json
oracle_server/vote_record.json
oracle_server/*.json