# this is a configuration file for autonity-oracle server.

#Set the gas priority fee cap to issue the oracle data report transactions.
tip 1

#Set oracle server key file.
key.file ./UTC--2023-02-27T09-10-19.592765887Z--b749d3d83376276ab4ddef2d9300fb5ce70ebafe

#Set the password to decrypt oracle server key file.
key.password 123%&%^$

#Set the logging level, available levels are:  0: NoLevel, 1: Trace, 2:Debug, 3: Info, 4: Warn, 5: Error.
log.level 3

#Set the WS-RPC server listening interface and port of the connected Autonity Client node.
ws ws://127.0.0.1:8546

#Set the directory of the data plugins.
plugin.dir ./plugins

#Set the plugins' configuration file.
plugin.conf ./plugins-conf.yml

#Set the confidence strategy, available strategies are: 0: linear, 1: fixed.
confidence.strategy 0